<html>
    <head>
        <title>WLAY BLOG</title>
    </head>
    <body  background="https://i.ytimg.com/vi/0lWGQNQTbx4/sddefault.jpg">
    <center> 
        <div>
            <h1><strong><a href=""> С ДР, бро </a></strong></h1>
    </div>
    </center>

    <center>
        <div>
            <h1><a href="">Для тебя, бро</a></h1>
            <h2 style="color:#ffff00"> Счастья, радости, здоровья,<h2>
             <h2 style="color:#ffff00"> Мира, нежности с любовью,</h2>
             <h2 style="color:#ffff00"> Процветать и долго жить</h2>
             <h2 style="color:#ffff00"> Я желаю от души!</h2>
                
            <h2 style="color:#ffff00">  Всех чудес, что есть на свете,</h2>
            <h2 style="color:#ffff00">  Доброты, тепла и света,</h2>
            <h2 style="color:#ffff00">  Волшебства и вдохновения!</h2>
            <h2 style="color:#ffff00">  Поздравляю с днём рождения!</h2>
                
            </p>
        </div>
    </center>

    <center>  
        <div>
            <h2><a href="">Эта песня для тебя, братуха</a></h2>
            <video> width="400" height="300" controls src="ban.mp4"</video>
        </div>
    </center>
    <center>
        <video autoplay width="640" height="480" controls src="/Users/zakhargorovenko/Desktop/code/web design/django/djandoboys/mysite/blog/templates/blog/ban.mp4"></video> 
    </center>
    </body>
</html>